.header-container {
  align-items: center;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-between;
}

.logo {
  height: 60px;
  margin-left: 60px;
  margin-right: auto;
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.image-menu {
  margin: 25px;
  cursor: pointer;
}
